.prokat__container {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  padding: 1rem;
}

.prokat__films-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  height: 100%;
  flex-grow: 2;
  padding: 0 2rem;
}

.prokat-film-item__container {
  font-weight: 700;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  color: var(--title-color);
}

.prokat-film-item__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .25rem;
}

.prokat-film-item__genres {
  display: flex;
  gap: .3rem;
  font-size: 0.875rem;
}

.prokat-film-item__name {
  font-size: 1.5rem;
}

.genre-item__container {
  padding: 0 .2rem;
  border: 1px solid #777;
  border-radius: 10px;
}

.prokat-film-item__title {
  font-size: 1.125rem;
}

.prokat-film-item__content img {
  width: 240px;
  height: 340px;
}

.prokat-film-item__seanses {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem 1.5rem;
}

.seanse-item__container {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.seanse-item__container:hover {
  cursor: pointer;
}

.seanse-item__main-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fb7200;
}

.seanse-item__time {
  width: 100%;
  text-align: center;
  background-color: #fb7200;
}

.seanse-item__room {
  font-size: 0.75rem;
}

